/* 
COLORS:

#ff3c94d0
#ff76bdd0
Dark Grey blue: #576180;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #576180;
}

.header {
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(255, 60, 148, 0.816), rgba(228, 143, 187, 0.816), rgba(255, 165, 189, 0.336));
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
}
