/* 
COLORS:

Red: #ff3c94d0;
Med pink: #ff76bdd0;
Med pink2: #e48fbbd0;
Light pink: #ffa5bd56;
Dark Grey blue: #576180;
Blue: #547CFF 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #576180;
}

.header {
  height: 85vh;
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 60, 148, 0.816),
    #e48fbbd0,
    rgba(255, 165, 189, 0.337)
  );
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
  color: #fff;
}

.logo-box {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo {
  font-size: 1.5rem;
}

.heading-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-main {
  display: block;
  font-size: 32px;
  font-weight: 400;
}

.heading-subtext {
  display: block;
  font-size: 18px;
  font-weight: 400;
}

/* #fff: #fff; */
/* #6772e5: #6772e5; */
/* #7795f8: #7795f8; */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.button-blue {
  margin: 12px;
  margin-top: 20px;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: #547cff;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.025em;
  transition: all 0.15s ease;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button-white {
  margin: 12px;
  margin-top: 20px;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: #fff;
  color: #547cff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.025em;
  transition: all 0.15s ease;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button:link,
.button:visited {
  text-transform: uppercase;
  text-decoration: none;
}

.button-blue:hover {
  transform: translateY(-2px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.button-white:hover {
  color: #7795f8;
  transform: translateY(-2px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

#section-one {
  display: block;
  margin-top: 50px;
  margin-left: 25px;
}
