// Colors
$color-red: #ff3c94d0;
$color-medpink: #e48fbbd0;
$color-lightpink: #ffa5bd56;
$color-dark-greyblue: #576180;
$color-blue: #559aff;
$color-lightblue: #55bbff;
$color-lightgrey: #f3f7fa;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;